{% extends "layouts/profesor.html" %}

{% block content %}

<div class="min-h-full">

    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Datos Personales</h1>
        </div>
    </header>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
            <div
                class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
                
                

                <div class="my-5 px-5 grid grid-cols-2 gap-3">

                    <div class="grid gap-3 uppercase text-sm leading-4 font-medium text-gray-500 tracking-wider">    
                        <img class="h-40 w-40 rounded-full border-2 border-blue-500" src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
                        <!-- <div class="py-3 flex gap-2">
                            <h1> Genero : </h1>
                            <p class="normal-case"> Meter el genero </p>
                        </div> -->
                        <!-- <div class="py-3 grid gap-2">
                            <h1> Telefono </h1>
                            <p class="text-sm"> 123-456-7890 </p>
                        </div> -->
                        
                    </div>
                    
                    <div class="text-sm uppercase leading-4 font-medium text-gray-500 tracking-wider">
                        <h1> Nombre del Profesor </h1>
                        <div class="flex gap-3 whitespace-no-wrap text-sm normal-case">
                            <p> {{ session["name"] }} </p> 
                        </div>
                        <div class="py-3 grid gap-2">
                            <h1> E-Mail </h1>
                            <p class="text-blue-600 text-sm underline normal-case"> {{ session["email"] }} </p>
                        </div>
                        <div class="flex gap-3">
                            <h1> Status : </h1>
                            <div class="flex text-green-500 gap-2 normal-case">
                                <p>Active</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 m-0"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>


    </div>

</div>

{% endblock %}

                <table class="min-w-full">
                    <thead>
                        <tr>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">
                                Clave Profesor
                            </th>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                                Especialización
                            </th>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                                Materia Impartida
                            </th>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                                Nivel Académico
                            </th>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                                Título Académico
                            </th>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                                Fecha de Ingreso
                            </th>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                                ID de Usuario
                            </th>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                                ID de Contacto
                            </th>
                            <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                        </tr>
                    </thead>

                    <tbody class="bg-white">

                        <!-- Aquí iría un loop para mostrar la información de cada profesor -->
                        <!-- Ejemplo:-->
                        {% for profesores in profesor %}
                        <tr>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                                <div class="flex items-center">
                                    <div>
                                        <div class="text-sm leading-5 text-gray-800">{{ profesores.Cve_Profesor }}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                                <div class="text-sm leading-5 text-blue-900">{{ profesores.Especializacion }}</div>
                            </td>
                            <td
                                class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                {{ profesores.materia_impar }}
                            </td>
                            <td
                                class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                {{ profesores.nivel_acade }}
                            </td>
                            <td
                                class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                {{ profesores.titulo_acade }}
                            </td>
                            <td
                                class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                {{ profesores.fecha_ingreso }}
                            </td>
                            <td
                                class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                {{ profesores.User_User_id }}
                            </td>
                            <td
                                class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                {{ profesores.Contacto_id_Contacto }}
                            </td>
                            <!-- Agregar el resto de las columnas según la estructura de datos del profesor -->
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>