<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <require('@tailwindcss /forms'),>
        </require>

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            window.onload = function() {
                if ('caches' in window) {
                    caches.keys().then(function(names) {
                        for (let name of names) {
                            caches.delete(name);
                        }
                    });
                }
    
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.getRegistrations().then(function(registrations) {
                        for (let registration of registrations) {
                            registration.unregister();
                        }
                    });
                }
    
                // Forcing reload to apply changes
                //window.location.reload(true);
            };
        </script>
</head>

<body>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>