{% extends "layouts/login.html" %}

{% block content %}
<div class="absolute top-0 -z-10 h-screen w-screen grid place-content-center">
    <div class="flex bg-gray-100/75 rounded-md min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-20 w-auto" src="{{ url_for('static', filename='image/Logo.png') }}"
                alt="Your Company">
            <h2 class="mt-5 px-20 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Regístrate</h2>
        </div>

        <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" action="{{url_for('auth.register')}}" method="POST">
                <div>
                    <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nombre</label>
                    <div class="mt-2">
                        <input id="name" name="name" type="text" autocomplete="name" required
                            class="block w-full rounded-md px-2 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <p id="MenNombre" hidden style="color:red;"></p>
                    </div>
                </div>

                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo</label>
                    <div class="mt-2">
                        <input id="email" name="email" type="email" autocomplete="email" required
                            class="block w-full rounded-md px-2 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <p id="MenCorreo" hidden style="color:red;"></p>
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                    <div class="mt-2">
                        <input id="password" name="password" type="password" autocomplete="new-password" required
                            class="block w-full rounded-md px-2 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <p id="MenContra" hidden style="color:red;"></p>
                    </div>
                </div>

                <div>
                    <label for="passwordconfirm" class="block text-sm font-medium leading-6 text-gray-900">Confirmar
                        contraseña</label>
                    <div class="mt-2">
                        <input id="passwordconfirm" name="passwordconfirm" type="password" autocomplete="new-password"
                            required
                            class="block w-full rounded-md px-2 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <p id="MenPasswordConfirm" hidden style="color:red;"></p>
                    </div>
                </div>

                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-[#074173] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#1679AB] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Regístrate</button>
                </div>
            </form>
            <p class="mt-10 text-center text-sm text-gray-500">
                ¿Ya estás registrado?
                <a href="{{ url_for('auth.login') }}"
                    class="font-semibold leading-6 text-[#074173] hover:text-[#1679AB]">Haz clic aquí</a>
            </p>
        </div>
    </div>
</div>

<div class="absolute top-0 -z-20 bg-cover h-[100vh] w-[100vw]"
    style="background-image: url( {{ url_for('static', filename='image/Login.jpg') }} )">
</div>
<script>
    document.getElementById('email').addEventListener('input', function () {
        var correo = document.getElementById('email');
        var MenCorreo = document.getElementById('MenCorreo');
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (correo.value.trim() === '') {
            MenCorreo.textContent = 'El campo no puede estar vacío';
            MenCorreo.removeAttribute('hidden');
        } else if (!emailRegex.test(correo.value.trim())) {
            MenCorreo.textContent = 'No es un correo válido';
            MenCorreo.removeAttribute('hidden');
        } else {
            MenCorreo.setAttribute('hidden', 'true');
        }
    });

    document.getElementById('password').addEventListener('input', function () {
        var contraseña = document.getElementById('password');
        var MenContra = document.getElementById('MenContra');
        var contraRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,10}$/;

        if (contraseña.value.trim() === '') {
            MenContra.textContent = 'El campo no puede estar vacío';
            MenContra.removeAttribute('hidden');
        } else if (!contraRegex.test(contraseña.value.trim())) {
            MenContra.textContent = 'No es una contraseña válida';
            MenContra.removeAttribute('hidden');
        } else {
            MenContra.setAttribute('hidden', 'true');
        }
    });

    document.getElementById('passwordconfirm').addEventListener('input', function () {
        var contraseña = document.getElementById('password');
        var confirmacion = document.getElementById('passwordconfirm');
        var MenPasswordConfirm = document.getElementById('MenPasswordConfirm');

        if (confirmacion.value.trim() === '') {
            MenPasswordConfirm.textContent = 'El campo no puede estar vacío';
            MenPasswordConfirm.removeAttribute('hidden');
        } else if (confirmacion.value.trim() !== contraseña.value.trim()) {
            MenPasswordConfirm.textContent = 'Las contraseñas no coinciden';
            MenPasswordConfirm.removeAttribute('hidden');
        } else {
            MenPasswordConfirm.setAttribute('hidden', 'true');
        }
    });

    document.getElementById('name').addEventListener('input', function () {
        var nombre = document.getElementById('name');
        var MenNombre = document.getElementById('MenNombre');

        if (nombre.value.trim() === '') {
            MenNombre.textContent = 'El campo no puede estar vacío';
            MenNombre.removeAttribute('hidden');
        } else {
            MenNombre.setAttribute('hidden', 'true');
        }
    });
</script>
{% endblock %}