{% extends "layouts/dashboard_alumnos.html" %}

{% block content %}

<div class="col-span-12 m-20">
    <div class="grid gap-2 grid-cols-1 lg:grid-cols-1">
        <div class="bg-white p-4 shadow-lg rounded-lg">

            <h1 class="font-bold text-base">ALUMNOS</h1>

            <div class="mt-4">
                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto">
                        <div class="py-2 align-middle inline-block min-w-full">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead>
                                        <tr>
                                            <th
                                                class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                <div class="flex cursor-pointer">
                                                    <span class="mr-2">IDENTIFICADOR</span>
                                                </div>
                                            </th>
                                            <th
                                                class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                <div class="flex cursor-pointer">
                                                    <span class="mr-2">DESCRIPCION</span>
                                                </div>
                                            </th>
                                            <th
                                                class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                <div class="flex cursor-pointer">
                                                    <span class="mr-2">CREDITOS</span>
                                                </div>
                                            </th>
                                            <th
                                                class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                <div class="flex cursor-pointer">
                                                    <span class="mr-2">REQUISITOS PREVIOS</span>
                                                </div>
                                            </th>
                                            <th
                                                class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                <div class="flex cursor-pointer">
                                                    <span class="mr-2">GRUPO</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        {% for materias in materia %}
                                        <tr>
                                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                                                <div class="flex items-center">
                                                    <div>
                                                        <div class="text-sm leading-5 text-gray-800">{{ materias.id_materia }}</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                                                <div class="text-sm leading-5 text-blue-900">{{ materias.nombre_Materia }}</div>
                                            </td>
                                            <td
                                                class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                                {{ materias.Cred_Materia }}
                                            </td>
                                            <td
                                                class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                                {{ materias.Requisitos_Previos }}
                                            </td>
                                            <td
                                            class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                                {{ materias.Uni_Grupos_Cve_grupo }}
                                            </td>
                                            <!-- Agregar el resto de las columnas según la estructura de datos del profesor -->
                                            
                                        
                                        

                                            <td
                                                class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5">
                                                <div class="flex space-x-4">
                                                    <form action="#" method="POST">
                                                        <input type="hidden" name="id" value="{{ materias.id_materia }}">
                                                        <a href="#"
                                                        class="px-4 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">Editar
                                                        </a>
                                                        <button type="submit"
                                                            class="px-4 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">Eliminar</button>
                                                    </form>

                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <!-- <tr>
                                            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                <p>Mauro Antonio Jimenez</p>
                                                <p class="text-xs text-gray-400">Matematicas
                                                </p>
                                            </td>
                                            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                <p>77</p>
                                            </td>
                                            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                <div class="flex text-green-500">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1"
                                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                    </svg>
                                                    <p>Active</p>
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                <div class="flex space-x-4">
                                                    <a href="#" class="text-blue-500 hover:text-blue-600">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1"
                                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2"
                                                                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                        </svg>
                                                        <p>Edit</p>
                                                    </a>
                                                    <a href="#" class="text-red-500 hover:text-red-600">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            class="w-5 h-5 mr-1 ml-3" fill="none" viewBox="0 0 24 24"
                                                            stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2"
                                                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                        </svg>
                                                        <p>Delete</p>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}